* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
h1 {
  flex-basis: 100px;
  height: 40px;
  line-height: 40px;
}

#gnblist {
  display: flex;
  justify-content: center;
}
body {
  padding-top: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  padding: 0 20px;

  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;

  max-height: 40px;
  overflow: hidden;
  transition: max-height 0.4s;

  z-index: 100;
}

#gnblist li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  text-align: center;
}

#gnblist li a:hover {
  background-color: #eee;
}

main {
  background-color: #eee;
  padding: 50px 0;
}

.imglist {
  display: flex;
  justify-content: center;
}

.imglist li {
  width: 100px;
  height: 150px;
  border: 1px solid black;
}
.imglist li + li {
  margin-left: 10px;
}
.imglist li a {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.imglist li a img {
  height: 100%;
  transition: 0.4s;
}
.imglist li a:hover img {
  transform: scale(1.2);
}

.sidewrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  flex-basis: 100px;
}

@media (max-width: 800px) {
  #gnblist {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  header:hover {
    max-height: 200px;
  }

  header .btnside {
    display: block;
  }
}

.btnside {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30px;
  height: 30px;
  /* border: 3px solid black; */
  /* border-radius: 50%; */
}

.btnside span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: black;
}

.btnside span:nth-child(2) {
  margin: 5px 0;
}

/* 800보다 작으면 헤더 안보이게 */
@media (min-width: 800px) {
  #btnside {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.btnside:hover {
  max-height: 200px;
}

header .btnside {
  display: flex;
}
