.container {
  width: 500px;
  padding: 10px;
  border: 3px solid black;
}

.container .box {
  width: 100px;
  height: 100px;
  margin: 10px 0;

  border: 3px solid red;
  box-sizing: border-box;

  text-align: center;
  line-height: 100px;
  transition: transform 1s;
}

.container.translate {
  perspective: 500px;
}
.container.translate .box:nth-of-type(1):hover {
  transform: translatex(50px);
}
.container.translate .box:nth-of-type(2):hover {
  transform: translateY(-50px);
}
.container.translate .box:nth-of-type(3):hover {
  transform: translate(20px, 20px);
}
.container.translate .box.z:hover {
  transform: translatez(-100px);
}
.container.rotate {
  /*  3d 관점이 필요한 컨테이너 요소에 perspective(관점) */
  perspective: 50px;
}

.container.rotate .box:hover {
  transform: rotate(50deg);
}
.container.rotate .x:hover {
  transform: rotatex(45deg);
}
.container.rotate .y {
  transform-origin: left;
}
.container.rotate .y:hover {
  transform: rotatey(45deg);
}

.container.scale .boxx {
  transform-origin: left;
}
.container.scale .box.x:hover {
  transform: scalex(90%);
}
.container.scale .boxy {
  transform-origin: bottom;
}
.container.scale .box.y:hover {
  transform: scaley(120%);
}
.container.scale .box.xy:hover {
  transform: scale(120%);
}

.container.skew .box.x:hover {
  transform: skewX(20deg);
}
.container.skew .box.y:hover {
  transform: skewy(-20deg);
}
.container.skew .box.xy:hover {
  transform: skew(20deg);
}
.container.complex .box:hover {
  transform: translate(50px) scale(2) rotate(30deg) skew(20deg);
}
