@font-face {
  font-family: speedeek;
  src: url("../asets/fonts/Speedee_K_L.woff");
  font-weight: 400;
}

@font-face {
  font-family: speedeek;
  src: url("../asets/fonts/Speedee_K_B.woff");
}

@font-face {
  font-family: speedeek;
  src: url("../asets/fonts/Speedee_K_R.woff");
}

:root {
  font-size: 10px;
}

body {
  font-family: speedeek;
  font-weight: 700;
}

header {
  background-color: #fff;
  position: relative;
  z-index: 10000;
}

.wrapper {
  margin: 0 auto;
  max-width: 1168px;
}

header .headerwrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 140px;
}

#gnblist {
  display: flex;
  height: 141px;
  /* 임시 */
}

#gnblist:hover::after {
  display: block;
  border-top: 1px solid #ccc;
}

#gnblist::after {
  display: none;
  content: "";
  height: 300px;
  width: 100%;
  background-color: #fff;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
}

#gnblist .depth01 {
  font-size: 2em;
}

#gnblist .depth01 > a {
  display: flex;
  align-items: center;
  margin-right: 85px;
  height: 100px;
}

#gnblist:hover .depth01 > ul {
  display: block;
  margin-top: 1px;
}

#gnblist .depth01 > ul {
  display: none;
  background-color: #fff;
}

#gnblist .depth01 > ul li {
  padding: 20px 0;
  font-size: 1.4rem;
  font-weight: 400;
  color: #999;
}
#gnblist .depth01 > ul li a {
  padding: 5px 0;
}
#gnblist .depth01 > a {
  position: relative;
}

#gnblist .depth01 > ul li a:hover {
  color: #000;
  border-bottom: 1px solid black;
}

#gnblist .depth01 > a::after {
  display: none;
}

#gnblist .depth01:hover > a::after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  background-color: #ffff00;
  position: absolute;
  bottom: 0;
}

.utill {
  display: flex;
}

.utill .utilllist {
  display: flex;
}

.utill .utilllist li {
  width: 80px;
  height: 36px;
  line-height: 36px;

  border-radius: 48px;

  text-align: center;
  font-size: 1.3rem;

  color: #fff;
}

.utill .utilllist li:nth-child(1) {
  background-color: #db0007;
}

.utill .utilllist li:nth-child(2) {
  margin: 0 4px;
  background-color: #d87e00;
}

.utill .utilllist li:nth-child(3) {
  background-color: #264a36;
}

.utill .btnsearch {
  margin-left: 26px;
  cursor: pointer; /*마우스가 호버됐을 때 손가락 모양으로 바뀜*/
}

#banner {
  position: relative;
}

#banner .slidelist li image {
  width: 100%;
}

#banner .btnslide .btn {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  cursor: pointer;
}

#banner .btnslide .btn.prev {
  background: url("../asets/images/bg_swiper_new.png") 0 0 no-repeat;

  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#banner .btnslide .btn.next {
  background: url("../asets/images/bg_swiper_new.png") 0 -90px no-repeat;
  right: 0;

  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#banner .controls {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translatex(-50%);
}

#banner .controls .btnplay {
  width: 36px;
  height: 36px;
  top: 50%;
  left: 0;
  background-color: black;
  background: url("../asets/images/bg_swiper_new.png") -92px 0 no-repeat;
  margin-right: 20px;
  cursor: pointer;
}

#banner .controls .btnplay:hover {
  background-position-y: -36px;
}

#banner .controls .statusbar {
  width: 300px;
  height: 5px;
  background-color: #fff;
  border-radius: 6px;
}

#live .livewrapper {
  padding: 20px 0;
}

#live .livewrapper .title {
  font-size: 4rem;
}

#live .livewrapper .eventlist {
  display: flex;
  flex-wrap: wrap;

  gap: calc((1168px - (366px * 3)) / 2);
  margin-top: 60px;
}
#live .livewrapper .eventlist li {
  border-radius: 10px;
  overflow: hidden;
  height: 438px;

  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

#live .livewrapper .eventlist li .contentbox {
  padding: 15px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
}
footer {
  background-color: #292929;
}

footer .footerwrapper {
  display: flex;
  justify-content: space-between;
  padding: 45px 0 55px;
}

footer .footerwrapper .footerleft {
  display: flex;
  font-size: 1.4rem;
}

footer .footerwrapper .linklist {
  width: 190px;
  color: #fff;
  font-weight: 500;
}

footer .footerwrapper .linklist li:nth-child(1) {
  color: #ffff00;
}
footer .footerwrapper .footerleft li + li {
  margin-top: 10px;
}

footer .footerleft .infolist {
  font-weight: 400;
  color: #999;
}

footer .footerright .snslist {
  display: flex;
  align-items: center;
}

footer .footerright .snslist li + li {
  margin-left: 20px;
}

footer .footerright .snslist li a {
  display: block;

  width: 40px;
  height: 40px;
  background-image: url(../asets/images/sns.png) no-repeat;
}

footer .footerright .snslist li:nth-child(2) a {
  background-position-y: -40px;
}

footer .footerright .snslist li:nth-child(3) a {
  background-position-y: -80px;
}

footer .footerright .snslist li:nth-child(4) a {
  background-position-y: -120px;
}
footer .footerright .snslist li:nth-child(5) a {
  width: auto;
  height: auto;
  background: none;
}
footer .footerright .snslist li:nth-child(5) img {
  height: 70px;
}

.sidebtns {
  position: fixed;
  right: 30px;
  bottom: 400px;
}
.sidebtns ul li {
  text-align: center;
}

.sidebtns ul li + li {
  margin-top: 20px;
}
.sidebtns ul li a {
  display: block;
  width: 121px;
  height: 121px;
}

.sidebtns ul li:nth-child(1) a {
  background: url(../asets/images/btn_story_04.png) center no-repeat;
}

.sidebtns ul li:nth-child(2) a {
  background: url(../asets/images/btn_delivery_04.png) center no-repeat;
}

.sidebtns ul li:nth-child(3) a {
  background: url(../asets/images/btn_top_04.png) center no-repeat;
}
@media (max-width: 1168px) {
  #live .livewrapper {
    max-width: 768px;
  }
}

#live .livewrapper .title {
  text-align: center;
}

@media (max-width: 790px) {
  #live .livewrapper .eventlist {
    justify-content: center;
  }
}
